name: AliyunpanSDK CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  iOS:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "OS=17.0.1,name=iPhone 14 Pro"
            name: "iOS 17.0"
            runsOn: macOS-13
          - destination: "OS=16.4,name=iPhone 14 Pro"
            name: "iOS 16.4"
            runsOn: macOS-13
          - destination: "OS=15.2,name=iPhone 13 Pro"
            name: "iOS 15.2"
            runsOn: macOS-11
    steps:
      - uses: actions/checkout@v4
      - name: Install xcpretty
        run: gem install xcpretty
      - name: ${{ matrix.name }}
        run: set -o pipefail && xcodebuild clean test -project AliyunpanSDK.xcodeproj -scheme AliyunpanSDK -sdk iphonesimulator -destination "${{ matrix.destination }}" | xcpretty