name: AliyunpanSDK CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: ${{ matrix.name }}
    runs-on: macos-12
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "platform=macOS"
            name: "macOS"
            sdk: "macosx"
          - destination: "platform=iOS Simulator,name=iPhone 14"
            name: "iOS"
            sdk: "iphonesimulator"
          - destination: "platform=tvOS Simulator"
            name: "tvOS"
            sdk: "appletvsimulator"
    steps:
      - uses: actions/checkout@v4
      - name: Install xcpretty
        run: gem install xcpretty
      - name: ${{ matrix.name }}
        run: set -o pipefail && xcodebuild clean test -project AliyunpanSDK.xcodeproj -scheme AliyunpanSDK -sdk "${{ matrix.sdk }}" -destination "${{ matrix.destination }}" | xcpretty
