name: AliyunpanSDK CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: ${{ matrix.name }}
    runs-on: macos-13
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "platform=macOS"
            name: "macOS"
            xcode: "15.0"
          - destination: "platform=iOS Simulator,name=iPhone 14"
            name: "iOS"
            xcode: "15.0"
          - destination: "platform=tvOS Simulator"
            name: "tvOS"
            xcode: "15.0"
    steps:
      - uses: actions/checkout@v4
      - name: Install xcpretty
        run: gem install xcpretty
      - name: Select Xcode
        run: sudo xcode-select --switch /Applications/Xcode_${{ matrix.xcode }}.app
        shell: bash
      - name: ${{ matrix.name }}
        run: set -o pipefail && xcodebuild clean test -project AliyunpanSDK.xcodeproj -scheme AliyunpanSDK -destination "${{ matrix.destination }}" | xcpretty
